<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cashier Panel</title>
    <!-- Iconic Fonts -->
    <!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/tables.css') }}">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/fresh-bootstrap-table.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../static/AdminPanel/vendors/iconic-fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/AdminPanel/vendors/iconic-fonts/flat-icons/flaticon.css">
    <link rel="stylesheet" href="../../../static/AdminPanel/vendors/iconic-fonts/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" href="../../../static/AdminPanel/vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css">
    <link href="../../../static/AdminPanel/assets/css/datatables.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../../../static/AdminPanel/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <!-- Page Specific CSS (Slick Slider.css) -->
    <link href="../../../static/AdminPanel/assets/css/slick.css" rel="stylesheet">
    <link href="../../../static/AdminPanel/assets/css/datatables.min.css" rel="stylesheet">
    <!-- Costic styles -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <link href="../../../static/AdminPanel/assets/css/style.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
</head>
{% block extra_head %}{% endblock %}


<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">


{% block before_body_start %}{% endblock %}


<main class="body-content">
    {% include 'layouts/cashier_panel/__mobile_nav.html' %}
    <div class="ms-content-wrapper">

        {% block main_content %}{% endblock %}
    </div>
</main>

{% include 'layouts/cashier_panel/__quickbar.html' %}



{% block before_body_end %}
    <script src="../../../static/AdminPanel/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../../static/AdminPanel/assets/js/popper.min.js"></script>
    <script src="../../../static/AdminPanel/assets/js/bootstrap.min.js"></script>
    <script src="../../../static/AdminPanel/assets/js/perfect-scrollbar.js">
    </script>
    <script src="../../../static/AdminPanel/assets/js/jquery-ui.min.js">
    </script>
    <!-- Global Required Scripts End -->
    <!-- Page Specific Scripts Start -->

    <script src="../../../static/AdminPanel/assets/js/Chart.bundle.min.js">
    </script>
    <script src="../../../static/AdminPanel/assets/js/widgets.js"></script>
    <script src="../../../static/AdminPanel/assets/js/clients.js"></script>
    <script src="../../../static/AdminPanel/assets/js/Chart.Financial.js"></script>
    <script src="../../../static/AdminPanel/assets/js/d3.v3.min.js">
    </script>
    <script src="../../../static/AdminPanel/assets/js/topojson.v1.min.js">
    </script>
    <script src="../../../static/AdminPanel/assets/js/datatables.min.js">
    </script>
    <script src="../../../static/AdminPanel/assets/js/data-orders.js">
    </script>
    <!-- Page Specific Scripts Finish -->
    <!-- Costic core JavaScript -->
    <script src="../../../static/AdminPanel/assets/js/framework.js"></script>
    <!-- Settings -->
    <script src="../../../static/AdminPanel/assets/js/settings.js"></script>
{% endblock %}
</body>

{% block after_body %}
{% endblock %}

</html>