<div class="head-slider text-white text-center">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div id="home" class="swiper-slide mt-5 px-5">
                <div class="row d-flex justify-content-evenly align-items-center h-100 px-4">
                    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center border-5 border-start border-warning">
                        <h1>Every day with <span style="font-family: 'Shizuru'; color: rgba(199, 138, 58, 0.795);font-weight: bold;
                    ">Coffee</span></h1>
                        <p style="font-size: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, esse
                            perferendis nihil,
                            quasi pariatur eligendi illum</p>
                        <button class="btn"><a href="{{ url_for('menu') }}" style="color: #573229">Go To Menu</a>
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
                        {% include 'layouts/cafe-index-svg.html' %}
                        <h1 style="font-family: 'Shizuru',sans-serif;" class="display-3">Coffee</h1>

                    </div>
                </div>
            </div>
            <div id="contactus" class="swiper-slide mt-5 px-5">
                <div class="row d-flex justify-content-evenly align-items-center h-100 px-4">
                    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center" style="perspective: 1000px;">
                        <div id="map" style="width: 500px; height: 300px; transform: rotate(-3deg);"></div>
                    </div>
                    <div id='about-us' class="col-sm-12 col-md-6 d-flex flex-column align-items-center border-5 border-end border-warning">
                        <h1 class="text-center text-white">
                            About us
                        </h1>
                        <p class="text-white text-lead fs-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                        <h1 id='tels' style="font-family: 'open Sans pro', sans-serif;">Cafe Dark Address</h1>
                        <p>Tehran Province, Tehran, Amiri Taimeh St.</p>
                        <a href="tel:04254">Tel: <span style="font-size: 18px;">09189185310</span></a>
                    </div>
                </div>
            </div>
            <div id="contactus" class="swiper-slide mt-5 px-5">
                <div class="row d-flex align-items-center h-100 border-5 border-warning border-end">
                    <div class="col-md-6 col-sm-12 col-xs-12 d-flex flex-column align-items-center border-5 border-warning">
                        <div class="bg-contact2">
                            <div class="container-contact2">
                                <div class="wrap-contact2">
                                    <form class="contact2-form validate-form" action="{{ url_for("show_comments") }}" method="post">
                                        <span class="contact2-form-title">
                                            Contact Us
                                        </span>

                                        <div class="wrap-input2 validate-input" data-validate="Name is required">
                                            <input class="input2" type="text" name="name">
                                            <span class="focus-input2" data-placeholder="NAME"></span>
                                        </div>

                                        <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                                            <input class="input2" type="text" name="email">
                                            <span class="focus-input2" data-placeholder="EMAIL"></span>
                                        </div>

                                        <div class="wrap-input2 validate-input" data-validate = "Message is required">
                                            <textarea class="input2" name="message"></textarea>

                                            <span class="focus-input2" data-placeholder="MESSAGE"></span>
                                        </div>

{#                                        <input type="submit" value="Submit" style="display: flex">#}
                                        <input class="btn-success" type="submit" value="Submit" style="display: flex">
{#                                        <button class="btn waves-effect waves-light" type="submit" name="action"#}
{#                                                style="margin-bottom:12px">Submit#}
{#                                        <i class="material-icons right">send</i>#}
{#                                        </button>#}

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id='svg-contact2' class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
                        {% include 'layouts/aboutus-svg.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>