
<div class="head-slider text-white text-center">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div id="home" class="swiper-slide mt-5 px-5">
           <div class="row d-flex justify-content-evenly align-items-center h-100 px-4">
               <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center border-5 border-start border-warning">
                <h1>Every day with <span style="font-family: 'Shizuru'; color: rgba(199, 138, 58, 0.795);font-weight: bold;
                    ">Coffee</span></h1>
                    <p style="font-size: 20px;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, esse perferendis nihil,
                        quasi pariatur eligendi illum</p>
                <button>See Recipies</button>
               </div>
               <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
                   {% include 'layouts/cafe-index-svg.html' %}
                <h1 style="font-family: 'Shizuru',sans-serif;" class="display-3">Coffee</h1>

               </div>
           </div>
          </div>
            <div id="contactus" class="swiper-slide mt-5 px-5">
                <div class="row d-flex justify-content-evenly align-items-center h-100 px-4">
                    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center" style="perspective: 1000px;">
                        <div id="map" style="width: 500px; height: 300px; transform: rotate(-3deg);"></div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center border-5 border-end border-warning">

                     <h1 style="font-family: 'open Sans pro', sans-serif;">cafe Address</h1>
                     <p>Mr John Smith
                        132, My Street,
                        Bigtown BG23 4YZ
                        England</p>
                        <a href="tel:04254">Tel: <span style="font-size: 18px;">091900000000</span></a>
                        <a href="tel:04254">Tel: <span style="font-size: 18px;">091900000000</span></a>
                    </div>
                </div>
            </div>
          <div id="about" class="swiper-slide  mt-5 px-5">
            <div class="row d-flex align-items-center h-100 border-5 border-start border-warning">
                dfgdf
            </div>
          </div>
          <div id="contactus" class="swiper-slide  mt-5 px-5">
            <div class="row d-flex align-items-center h-100 border-5 border-end border-warning">
                rydfshgd
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
      </div>
</div>