{% include 'layouts/__nav.html' %}
{% if get_flashed_messages() %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '{{msg}}',
            showConfirmButton: false,
            timer: 2100
        })
    </script>
{% endif %}
{% if check_reserve %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{ msg }}',
            footer: '<button class="swal2-confirm check_reserve" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ data['reserve-button']['content'] }}</button>'
        })
    </script>
{% endif %}