<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>menu List</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
            crossorigin="anonymous"
    />
    <script
            src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}"/>
</head>
<body>
<br><br><br>
<!-- partial:index.partial.html -->
<!-- Nav -->
{% if status == True %}
    <nav class="navbar navbar-inverse fixed-top">
        <div class="row">
            <div class="col">
                <button
                        type="button"
                        class="btn btn-success mx-1"
                        data-toggle="modal"
                        data-target="#cart"
                >
                    <i class="fas fa-mug-hot"></i>
                    Cart (<span class="total-count"></span>)
                </button>
                <button class="clear-cart btn btn-danger mx-1">
                    <i class="fas fa-trash-alt"></i>
                    Clear Cart
                </button>
                <button class="btn btn-primary"><a href="{{ url_for('home') }}" style="color: white">Home</a></button>
            </div>
        </div>
    </nav>
{% else %}
    <div class= "container flouid">
        <div class="row d-flex align-items-center" style="flex-direction: column">
            <h5 style="color: white">IF YOU WANT TO PUT ORDER FIRST SELECT A TABLE !</h5>
            <button class="btn btn-primary"><a href="{{ url_for('home') }}" style="color: white">Home</a></button>
        </div>
    </div>
{% endif %}
{% for category in categories %}
    <div class="swiper mySwiper text-center">
        <h1 class="text-white">{{ category.type }}</h1>
        <div class="swiper-wrapper">
            {% for item in menu_items %}
                {% if item.item_category_id == category.id %}
                    <div class="swiper-slide">
                        <div class="card" style="width: 20rem">
                            <div class="img-container">
                                <img
                                        class="card-img-top"
                                        src="{{ url_for('static', filename='img/' + item.item_name + '.jpg') }}"
                                        alt="Card image cap"
                                />
                            </div>
                            <div class="card-block text-center">
                                <h4 class="card-title">{{ item.item_name }}</h4>
                                <p class="card-text">${{ item.price }}</p>
                                {% if status == True %}
                                    <a
                                            href="#"
                                            data-name="{{ item.item_name }}"
                                            data-price="{{ item.price }}"
                                            class="add-to-cart btn btn-success"
                                    >Add<i class="fas fa-add mx-2 "></i></a
                                    >
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
{% endfor %}
<!-- Modal -->
{% if status == True %}
    <div
            class="modal fade"
            id="cart"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="show-cart table">

                    </table>
                    <div>Total price: $<span class="total-cart"></span></div>
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                    >
                        Close
                    </button>
                    <button type="button" class="btn btn-success send-order">Order now</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
<script>
    var clicked;
    $(".send-order").click(function () {
        let ordersValue = cart
        var json = JSON.stringify(ordersValue);
        $.ajax({
            type: "POST",
            url: "{{url_for('send_order')}}",
            data: json,
            dataType: "json",
            success: function (msg) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Your order was successfully sent',
                    showConfirmButton: false,
                    timer: 2500
                })
            },
            error: function (msg) {
                alert(`Failed`);
            }
        });
    });
</script>
</body>
</html>
