<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>cafe dark 404</title>
  <link rel='stylesheet' href='https://codepen.io/uzcho_/pen/eYdmdXw.css'><link rel="stylesheet" href="/static/disterror/style.css">

</head>
<body>
<div class="number">404</div>
<div class="text"><span>Ooops...</span><br>page not found<br>
please check your url address
</div>
<a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank"></a>

<a type="button" class="button" href="{{ url_for("home") }}">back</a>
</body>
</html>
